@import url(../css/second-sec.css);
@import url(../css/third-sec.css);
@import url(../css/fourth-sec.css);
@import url(../css/last-sec.css);

@import "normalize1";
@import "resets";

$color-red: #C70101;

/* @import url(../css/second-sec.css);
@import url(../css/third-sec.css);
@import url(../css/fourth-sec.css); */

@font-face {
    font-family: MuseoModernoL;
    src: url(../font/MuseoModerno-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: MuseoModernoR;
    src: url(../font/MuseoModerno-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: MuseoModernoM;
    src: url(../font/MuseoModerno-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: MuseoModernoB;
    src: url(../font/MuseoModerno-Bold.ttf);
    font-style: normal;
}

*   {
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6{
    font-family: MuseoModernoB, sans-serif;
    color: white;
    text-transform: uppercase
}

p{
    font-family: MuseoModernoR, sans-serif;
    color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.first-section{
    min-height: 650px;
    position: relative;
    padding-top: 21px;
    padding-bottom: 72px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    &__header-container{
        width: 942px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 91px;
    }
    &__logo{
        width: 251px;
        height: 45px;
    }
    &__content-container{
        display: flex;
        width: 942px;
        min-height: 50%;
        justify-content: flex-end;
    }
}

.hed-text{
    &__top-text{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        margin-bottom: 7px;
    }
    &__bot-text{
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    &__number{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: right;
        margin-bottom: 4px;
    }
}

.top-button{
    text-align: right;
    &__top-btn{
        border: none;
        outline: none;
        width: 153px;
        height: 32px;
        background: $color-red;
        border-radius: 5px;
        padding: 6px 8px 7px 5px;
        &_big-btn{
            padding: 12px 28px;
            width: 300px;
            height: 50px;
            margin-bottom: 10px;
        }
        &_without-margin{
            margin-bottom: 0;
        }

    }
    &__btn-text{
        text-align: center;
        font-family: MuseoModernoL, sans-serif;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        &_big-text{
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
        }
    }
    
    
}

.second-container{
    flex-direction: column;
    align-items: flex-end;
    &__icons-box{
        width: 424px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 67px;
    }
    &__text{
        text-align: right;
    }
    &__button{
        text-align: right;
    }
}

.title{
    margin-bottom: 60px;
    &__title-one{
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
    }
    &__text{
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__title-tex2{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        span{
            text-decoration: underline;
        }
    }
}

.icons{
    text-align: center;
    justify-content: space-between;
    &__img{
        margin-bottom: 20px;
    }
    &__text{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
    }
}


@media (max-width: 1137px){
    .first-section{
        padding-bottom: 0;
        &__header-container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 61px;
        }
        &__content-container{
            width: 80%;
            min-height: 375px;
        }
    }
    .second-container{
        &__icons-box{
            margin-bottom: 80px;
        }
    }
    .title{
        margin-bottom: 80px;
        &__title-one{
            font-size: 33px;
        }
    }
    .icons{
        &__img{
            width: 60px;
        }
    }
}

@media (max-width: 859px){
    .first-section{
        &__header-container{
            width: 80%;
        }
        &__content-container{
            justify-content: center;
        }
    }
    .second-container{
        align-items: center;
        justify-content: space-between;
        &__text{
            text-align: center;
        }
        &__icons-box{
            margin-bottom: 0px;
        }
    }
    .title{
        margin-bottom: 0px;
        &__title-tex2{
            text-align: center;
        }
    }
    .icons{
        width: 90%;
        &__img{
            width: 60px;
        }
    }
}

@media (max-width: 751px) {
    .first-section{
        &__header-container{
            width: 93%;
        }
    }
}

@media (max-width: 646px) {
    .hed-text{
        &__bot-text{
            font-size: 16px;
        }
        &__number{
            font-size: 80%;
        }
    }
    .top-button{
        &__top-btn{
            &_big-btn{
                width: 300px;
            }
        }
    }
}

@media (max-width: 588px) {
    .first-section{
        min-height: 570px;
        padding-bottom: 0;
        &__header-container{
            margin-bottom: 40px;
        }
        &__logo{
            width: 100%;
        }
    }
}

@media (max-width: 460px) {
    .first-section{
        &__header-container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        &__header{
            margin-bottom: 5px;
        }
        &__text{
            margin-right: 10px;
        }
    }
    .icons{
        &__img{
            width: 40px;
        }
    }
}

@media (max-width: 339px) {
    .first-section{
        &__header-container{
            margin-bottom: 0;
        }
        &__header{
            margin-bottom: 15px;
        }
        &__text{
            margin-bottom: 15px;
        }
        &__content-container{
            min-height: 360px;
        }
    }
    .hed-text{
        &__number{
            font-size: 14px;
        }
    }
    .icons{
        &__icn{
            margin-right: 5px;
        }
        &__img{
            width: 30px;
        }
        &__text{
            font-size: 12px;
        }
    }
    .top-button{
        &__top-btn{
            &_big-btn{
                width: 250px;
                margin-bottom: 0;

            }
        }
        &__btn-text{
            &_big-text{
                font-size: 14px;
            }
        }
    }
    .hed-text__bot-text {
        line-height: 10px;
    }
}