@import "normalize1";
@import "resets";

$color-red: #C70101;

@font-face {
    font-family: MuseoModernoL;
    src: url(../font/MuseoModerno-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: MuseoModernoR;
    src: url(../font/MuseoModerno-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: MuseoModernoB;
    src: url(../font/MuseoModerno-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

*   {
    box-sizing: border-box;

}

h1, h2, h3, h4, h5{
    font-family: MuseoModernoB, sans-serif;
    color: white;
    text-transform: uppercase
}

p{
    font-family: MuseoModernoR, sans-serif;
    color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.first-section{
    min-height: 650px;
    position: relative;
    padding-top: 21px;
    padding-bottom: 72px;
    background-image: url(../img/bg.png);
    &__header-container{
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 91px;
    }
    &__logo{
        width: 251px;
        height: 45px;
    }
    &__content-container{
        display: flex;
        width: 60%;
        min-height: 50%;
        justify-content: flex-end;
    }
}

.hed-text{
    &__top-text{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        margin-bottom: 7px;
    }
    &__bot-text{
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    &__number{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: right;
        margin-bottom: 4px;
    }
}

.top-button{
    text-align: right;
    &__top-btn{
        border: none;
        outline: none;
        width: 153px;
        height: 32px;
        background: $color-red;
        border-radius: 5px;
        padding: 6px 8px 7px 5px;
        &_big-btn{
            padding: 12px 28px;
            width: 300px;
            height: 50px;
            margin-bottom: 10px;
        }
        &_without-margin{
            margin-bottom: 0;
        }

    }
    &__btn-text{
        text-align: center;
        font-family: MuseoModernoL, sans-serif;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        &_big-text{
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
        }
    }
    
    
}

.second-container{
    flex-direction: column;
    align-items: flex-end;
    &__icons-box{
        width: 75%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 67px;
    }
    &__text{
        text-align: right;
    }
    &__button{
        text-align: right;
    }
}

.title{
    margin-bottom: 60px;
    &__title-one{
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
    }
    &__text{
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }
    &__title-tex2{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        span{
            text-decoration: underline;
        }
    }
}

.icons{
    text-align: center;
    justify-content: space-between;
    &__img{
        margin-bottom: 20px;
    }
    &__text{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
    }
}