@charset "UTF-8";
.fourth-section {
  min-height: 2892px;
  padding-top: 108px;
}
.fourth-section__first-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-section__title {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 46px;
}
.fourth-section__second-container {
  height: 1103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 79px;
}
.fourth-section__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 57px;
}
.fourth-section__catalog-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fourth-section__third-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.fourth-section__third-container_head {
  color: #0D0D0D;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.fourth-section__rev-container {
  max-width: 915px;
  min-height: 920px;
}

.arrow-left {
  width: 30px;
  height: 50px;
  position: relative;
}
.arrow-left__top {
  position: absolute;
  width: 7px;
  height: 30px;
  background-color: #C70101;
  border-radius: 2px;
  transform: rotate(45deg);
  top: 2px;
}
.arrow-left__bot {
  position: absolute;
  width: 7px;
  height: 30px;
  background-color: #C70101;
  border-radius: 2px;
  transform: rotate(135deg);
  top: 19px;
}

.arrow-right {
  width: 30px;
  height: 50px;
  position: relative;
}
.arrow-right__top {
  position: absolute;
  width: 7px;
  height: 30px;
  background-color: #C70101;
  border-radius: 2px;
  transform: rotate(135deg);
  top: 2px;
}
.arrow-right__bot {
  position: absolute;
  width: 7px;
  height: 30px;
  background-color: #C70101;
  border-radius: 2px;
  transform: rotate(225deg);
  top: 19px;
}

.slider-picture__img {
  margin-left: 66px;
  margin-right: 66px;
  margin-bottom: 107px;
}

.box-content {
  display: flex;
}
.box-content__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 52px;
  border: 2px solid #6B6B6B;
  transform: skewX(319deg);
  margin-right: 10px;
}
.box-content__item_red {
  border: none;
  background-color: #C70101;
}
.box-content__text {
  color: #6B6B6B;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  transform: skewX(-319deg);
}
.box-content__text_white {
  color: #ffffff;
}

.catalog {
  max-width: 944px;
  min-height: 903px;
  display: flex;
  justify-content: space-evenly;
}
.catalog__item {
  height: 442px;
  width: 303px;
  border: 2px solid #E8E8E8; /* поменять на lgrey */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content__text {
  color: #0D0D0D;
}
.content__text_top {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
}
.content__text_bot {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
.content__coast {
  color: #0D0D0D;
}
.content__coast_top {
  color: #555555;
  text-decoration: line-through;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}
.content__coast_bot {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.content__line {
  width: 263px;
  border: 1px solid #E8E8E8;
  margin-bottom: 10px;
}
.content__button {
  background-color: #C70101;
  color: #ffffff;
  font-family: MuseoModernoR, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border: none;
  outline: none;
  width: 135px;
  height: 44px;
  border-radius: 5px;
}
.content__more-about p {
  color: #C70101;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  border-bottom: 1px solid #C70101;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.content__more-about_go-back {
  margin-top: 33px;
}
.content__img {
  width: 140px;
  height: 200px;
  margin-bottom: 15px;
}

ul {
  list-style-type: square;
  padding-left: 32px;
}
ul li {
  color: #555555;
  font-family: MuseoModernoL, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 4px;
}
ul li::marker {
  width: 8px;
  height: 8px;
  color: #C70101;
}
ul li:last-child {
  margin-bottom: 71px;
}

.box__top {
  text-align: center;
}
.box__bot {
  width: 263px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.reviews-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reviews-box__item {
  display: flex;
  justify-content: space-between;
}
.reviews-box__review-text {
  color: #0D0D0D;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.reviews-box__rev-img {
  width: 169px;
  height: 169px;
  margin-right: 61px;
}
.reviews-box__header_top {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.reviews-box__header_bot {
  color: #555555;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}/*# sourceMappingURL=fourth-sec.css.map */